$app-bar-height: 70px !default;
$mini-drawer-width: 80px !default;

$shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
$shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
$shadow-lg: 0 1px 8px -1px rgba(0, 0, 0, 0.20);
$shadow-xl: 0 0 16px 0px rgba(0, 0, 0, 0.20);
$avatar-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.50);

$transition-bezier: .05, .74, .27, .99 !default; // for nav, quickview
$transition-ease: cubic-bezier(0.4, 0.0, 0.2, 1) !default;
$transition-ease-out: cubic-bezier(0.0, 0.0, 0.2, 1) !default;
$transition-ease-in: cubic-bezier(0.4, 0.0, 1, 1) !default;

$size-30: 30px !default;
$size-40: 40px !default;
$size-50: 50px !default;
$size-60: 60px !default;
$size-80: 80px !default;
$size-100: 100px !default;
$size-120: 120px !default;