@import '../_variables';
.ccp-app-header-root {
    flex-grow: 1
}

.ccp-app-header-menuButton {
    margin-left: -12px;
    margin-right: 20px;
}

.ccp-app-header {
    margin-left: $SideBarDrawerWidth;
}

.ccp-app-header-title {
    flex: 1;
}